Hollow Bird/Assets/Sprites/Enemies/Materials/**/*
Hollow Bird/Assets/Sprites/Items/**/*
Hollow Bird/Assets/Sprites/Items/**/*
Hollow Bird/.plastic/plastic.changes
Hollow Bird/.plastic/plastic.selector
Hollow Bird/.plastic/plastic.wktree
Hollow Bird/.plastic/plastic.workspace
Hollow Bird/ignore.conf
Hollow Bird/.vsconfig
